.roll-result {
  --bg-color: #aaa6;

  list-style: none;
  position: relative;
  padding-left: 6px;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.95rem;
  gap: 6px;
  
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: var(--bg-color);
    border-radius: 20px;
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }

  &.red {
    --bg-color: #f0070761;
  }

  &.black {
    --bg-color: #111a;
  }

  .texts .number {
    color: #aaa;
  }

  .actions {
    display: inline-flex;
    opacity: 0;
    align-items: center;
    transition: opacity 200ms ease-in-out;
    gap: 4px;

    span .icon {
      width: 20px;
      height: 100%;
      cursor: pointer;
      display: flex;
      align-items: end;
    }

    span .refresh-icon, span .edit-icon {
      width: 16px;
    }
  }

  &:hover {
    text-shadow: 1px 1px 1px var(--bg-color);

    &::after,
    .actions {
      opacity: 1;
    }
  }
}
