.shortcuts-settings {
  min-height: 230px;
  width: 400px;
  padding: 12px 0;
  animation: slide-from-right 250ms ease forwards;

  &.slide {
    animation: slide-to-right 250ms ease forwards;
  }

  .list {
    padding: 4px 12px;

    .shortcut-item {
      border: 1px solid #444;
      cursor: pointer;
      border-radius: 4px;
      padding: 6px 8px;
      margin-bottom: 12px;

      &:hover {
        background-color: #aaa2;
      }

      .no-command-p {
        font-size: .75rem;
        margin-top: 2px;
        color: #888;
      }
    }
  }

  .shortcut-bubble {
    background-color: #2b2e36;
    position: absolute;
    width: 95%;
    height: 95%;
    top: 15px;
    left: 10px;
    z-index: 3;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    box-shadow: -5px -5px 0 0 #709cd6,
      5px 5px 0 0 #123361;
    transform-origin: center;
    animation: bubble 250ms ease forwards;

    &.close {
      animation: bubble-close 250ms ease-out forwards;
    }

    .keys-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;

      .key {
        display: inline-block;
        border-radius: 4px;
        padding: 6px 8px;
        background-color: #141925;
        box-shadow: 0 0 1px 2px #709cd6;
      }
    }

    .settings-btn.wide {
      margin-top: 20px;
    }
  }
}

@keyframes bubble {
  0% {
    border-radius: 50px;
    scale: 0;
    color: transparent;
  }

  80% {
    border-radius: 4px;
    scale: 1;
    color: transparent;
  }
  
  100% {
    color: white;
  }
}

@keyframes bubble-close {
  from {
    scale: 1;
  }

  to {
    scale: 0;
    opacity: 0;
  }
}
