.open-settings-btn {
  position: absolute;
  bottom: 12px;
  left: 12px;
}

.settings-dialog {
  position: absolute;
  width: 340px;
  left: 18px;
  background: linear-gradient(145deg, #07090b, #16181d);
  bottom: 68px;
  border: 1px solid #444;
  border-radius: 6px;
  box-shadow: -4px 5px 0 #42464877;
  transition: all 250ms ease;
  transform-origin: 0% 100%;
  padding: 0;
  scale: 0;
  opacity: 0;

  &[open] {
    animation: dialog-open 350ms ease-in-out forwards;
  }

  &.close {
    animation: close 200ms ease-in forwards;
  }

  .content {
    overflow-x: hidden;
  }

  .title {
    font-family: Righteous, serif;
    font-size: 1.35rem;
    position: absolute;
    top: -20px;
    left: -6px;
    z-index: 2;
    translate: -200% 0;
    -webkit-text-stroke: 1px #1118;
    animation: slide-right 600ms ease-out forwards 280ms;

    &::after {
      content: '';
      position: absolute;
      left: -6px;
      bottom: 0px;
      width: 100%;
      height: 11px;
      padding: 0px 8px;
      background-color: #3f3f3f;
      border-radius: 50px;
      z-index: -1;
    }
  }
}

@keyframes dialog-open {
  0% {
    scale: 0;
    opacity: 0;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes close {
  0% {
    scale: 1;
    opacity: 1;
  }

  100% {
    scale: 0;
    opacity: 0;
  }
}

@keyframes slide-right {
  0% {
    translate: -100% 0;
  }

  70% {
    translate: 8% 0;
  }

  100% {
    translate: 0 0;
  }
}
 
.settings-btn {
  display: block;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 0.9rem;
  color: #eee;
  background-color: #353535;
  transition: all 200ms ease-out;
  margin-left: auto;

  &:active {
    background-color: #555;
  }
}

.main-menu {
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  list-style: none;
  animation: slide-from-left 225ms ease forwards;

  &.slide {
    animation: slide-to-left 225ms ease forwards;
  }

  > li {
    cursor: pointer;
    padding: 8px 10px;
    transition: all 250ms ease;
  
    &:hover {
      background-color: #8882;
    }
  }
}

.settings-header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 12px;

  .settings-title {
    font-size: 1.1rem;
  }

  .void-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
  }
}

@keyframes slide-to-left {
  0% {
    translate: 0 0;
  }

  95% {
    opacity: 0;
  }

  100% {
    translate: -200% 0;
    opacity: 0;
  }
}

@keyframes slide-from-left {
  0% {
    translate: -200% 0;
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  100% {
    translate: 0 0;
  }
}

@keyframes slide-to-right {
  0% {
    translate: 0 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    translate: 200% 0;
    opacity: 0;
  }
}

@keyframes slide-from-right {
  0% {
    translate: 200% 0;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    translate: 0 0;
  }
}
