:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.95);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  height: 100%;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(/public/img/elden-ring-wallpaper.jpg);
  background-position: center;
  background-size: cover;
  filter: brightness(0.55);
}

.ui {
  width: 100%;
  position: absolute;
  top: 0;

  & h1 {
    text-align: center;
  }
}

.dice-box-canvas {
  display: block;
  border: 1px solid red;
  height: 100%;
  margin: auto;
}
