:root {
  font-family: monospace, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  height: 100%;
  position: relative;
  box-shadow: inset 0 0 60px #121212;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(/img/elden-ring-wallpaper.jpg);
  background-position: center;
  background-size: cover;
}

.ui {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.version-tag {
  position: absolute;
  top: 0;
  color: #777;
  font-size: 0.8rem;
}

.title {
  margin-top: 16px;
  text-align: center;
  text-shadow: 0 0 10px #1118;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  
  & span {
    z-index: 2;
    font-family: Righteous, serif;
    -webkit-text-stroke: 2.2px #1118;
    font-size: 2.1rem;
  }

  & img {
    rotate: -15deg;
    translate: 0 1px;
    z-index: 2;
    filter: drop-shadow(2px 3px 0px #1118);
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 420px;
    height: 22px;
    background-color: #1118;
    border-radius: 50px;
    box-shadow: 0 0 2px #1118;
    z-index: 0;
  }
}

.btn {
  padding: 8px 12px;
  font-size: 1rem;
  font-family: monospace;
  background-color: #1766d6;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 0 0 #043478;
  cursor: pointer;
  transition: all 120ms ease-in-out;

  &:active {
    background-color: #043478;
    box-shadow: none;
    translate: 0 4px;
  }
}

.dice-box-canvas {
  display: block;
  height: 100%;
  margin: auto;
}

.stats {
  padding: 0px 20px;
  position: absolute;
  bottom: 50px;
  /* background: linear-gradient(215deg, transparent, black); */

  .total-amount-span {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Righteous, serif;
    -webkit-text-stroke: 1.5px #181818aa;
    text-shadow: -1px 1px 2px #181818;
    /* rotate: -20deg; */
  }
}

.static-info {
  height: 70%;
  width: fit-content;

  .glass-container {
    max-height: 48%;
    width: 300px;
    margin-left: 12px;
  }
}

.money-container {
  padding: 20px;
  border: 1px solid #555a;
  border-radius: 4px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  translate: -50%;
  background-color: #4444;
  box-shadow: 0 3px 5px #323232bb;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.money-input-container {
  width: fit-content;
  padding: 6px 8px;
  border: 1px solid #444a;
  border-radius: 6px;
  background-color: #111a;

  &:focus-within {
    outline: 2px solid #3a66a9;
  }
}

input {
  font-size: 1rem;
  padding: 6px 8px;
  border: 1px solid #444a;
  border-radius: 6px;
  background-color: #111a;
}

#moneyForm {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

#moneyInput {
  width: 80px;
  border: 0;
  background: none;
  padding: 0;

  &:focus {
    outline: 0;
  }
}

.glass-container {
  width: fit-content;
  padding: 14px 20px;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  overflow: auto;
  background-color: #4444;
  border: 1px solid #888a;
  border-radius: 4px;
  box-shadow: 0 3px 5px #333a;

  & summary {
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
  }
}

#rollResult {
  margin-top: 20px;
  
  & h3 {
    margin: 0;
    margin-bottom: 12px;
  }
}

#diceToRollDiv {
  position: absolute;
  top: 60px;
  right: 26px;
}
